@font-face {
  font-family: lesser concern;
  src: url('lesserConcern.otf');
}

body {
  font-family: lesser concern;
  background-image: image(images/ab.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
    font-size: 24px;
    margin-bottom: auto;
}

#logo {
  position: inherit;
  width: inherit;
  height: inherit;
}

h1 {
  text-align: center;
}

h3 {
  color: #008db6;
}


#name {
  text-align: center;
}

.jumbotron-about {
  text-align: left;
}

#btnR {
  margin-bottom: 8px;
}

.well {
  text-align: left;
}

.navbar-text {
  text-align: center;
}

#placeholder {
  padding-top: 26px;
  padding-left: 70px;
}

/*#form {
  padding-bottom: 40px;
}*/

.navbar-inverse {
  text-align: right;
  padding-top: 5px;
}

p {
  font-size: 16px;
}
